<div class="container custom-nav">
  <%= link_to "Home", root_path %>
  <%= link_to "About", pages_about_path %>
  <%= link_to "Contact", pages_contact_path %>
  <%= link_to "FAQ", pages_faq_path %>
  <%= link_to "Blog", blogs_path %>
  <%= link_to "Register", new_user_registration_path, method: :get %>
  <%= link_to "Login", new_user_session_path, method: :get %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>